body {
  margin: 0;
  background-color: rgb(230, 230, 230);
}
h1 {
  font-family: Andale Mono, monospace;
  text-align: center;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  background-color: black;
}

#Joueur {
  text-align: center;
}

#game table {
  border: 3px blue outset;
  background-color: blue;
  margin: auto;
}
#game td {
  width: 2cm;
  height: 2cm;
  margin: 0px;
  padding: 0px;
  border: 2px rgb(20, 77, 23) inset;
  border-radius: 2cm;
  background-color: white;
  cursor: pointer;
}
#game td.player1 {
  background-color: red;
}
#game td.player2 {
  background-color: yellow;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4); /* Transparent dimmed overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.modal.hidden {
  display: none;
}

.modal .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

.modal .body {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

#playRobot,
#playHuman {
  width: 100%;
}
